.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}

.pagination .total-pages{
    color: var(--title-color);
    font-size: 1.5rem;
}

.pagination .pagination-buttons {
    display: flex;
    gap: 1rem;
}

.pagination .pagination-buttons button {
    background-color:var(--button-color);
    color: var(--button-text-color);
    box-shadow: 2px 2px 2px rgba(71, 70, 70, 0.618);
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0.4rem 1rem;
}

.pagination .pagination-buttons button:hover {
    background-color:var(--button-hover-color);
}

