.main .book-card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80vw;
    max-width: 1400px;
    margin: 2rem auto;
    justify-content: center;
    flex-grow: 1;
}

.main .type-something {
    width: 80vw;
    max-width: 700px;
    margin: 3rem auto;
    font-size: calc(2vw + 2vh + .4vmin);
    color: #515e7e;
}

.main .no-matches {
    width: 80vw;
    max-width: 900px;
    margin: 5rem auto;
    font-size: 2rem;
    text-align: center;
    color: var(--title-color);
}