@import './styles//normalize.css';

:root {
  --title-color: #D7C49E;
  --dark-background-color: #343148;
  --light-background-color: #c9beb9;
  --cover-text-color:rgb(53, 21, 6);
  --search-bar-font-color: rgba(255, 255, 255, 0.719);
  --search-bar-bg-color: #494750;
  --tag-color:#697e6b;
  --button-color:#697e6b;
  --button-hover-color:#3b633f;
  --button-text-color: rgb(56, 29, 5);
  --fantasy-color:#ccd5ae;
  --sci-fi-color:#dbe1bc;
  --historical-color:#e9edc9;
  --biography-color:#fefae0;
  --comedy-color:#faedcd;
  --romance-color:#dbcfad;
  --thriller-color:#e7c8a0;
  --essay-color:#deb68a;
  --others-color:#d4a373;
}

* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
