@import './styles//normalize.css';

:root {
  --title-color: #D7C49E;
  --dark-background-color: #343148;
  --light-background-color: #c9beb9;
  --cover-text-color:rgb(53, 21, 6);
  --cover-text-color:#0f0d18;
  --search-bar-font-color: rgba(255, 255, 255, 0.719);
  --search-bar-bg-color: #494750;
  --tag-color:#343148;
  --button-color:#7e7d80;
  --button-hover-color:#727075;
  --button-text-color: rgb(56, 29, 5);
  --button-text-color: #222030;
  --new-book-cover:#b8b8bb;
  --book-border-color:rgb(85, 49, 8);
  --fantasy-color:#ccd5ae;
  --sci-fi-color:#E76F51;
  --historical-color:#287271;
  --biography-color:#2A9D8F;
  --comedy-color:#8AB17D;
  --romance-color:#BABB74;
  --thriller-color:#E9C46A;
  --essay-color:#F4A261;
  --others-color:#EE8959;
}

* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
